.card-chart.card{
    h1{
        padding-left: 1rem;
    }
}

.inputHeader{
    padding: 0 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    select{
        display: inline-block;
        height: 50%;
    }
}